
body {
    background: darkgrey;
}

.lightcable{
    background-color: black;
    width: 5px;
    height: 100px;
    padding: 20px;
    margin-left: 49%;
    }


.box {
	height: 320px;
	width: 150px;
  border-radius: 20%;
	border: 1px solid black;
	flex-direction: column;
	
	margin: auto;
	background-color: black;
  }

.light {
    height: 40%;
    }
   
    .rounded-circle{
        height: 100%;
       margin: auto;
    
    }
    .glow {
       box-shadow: 0px 0px 60px 40px red;
       margin-top: 50%;
     }
     
     .glower {
       box-shadow: 0px 0px 60px 40px yellow;
       margin-top: 20%;
     }
     
     .glowerest {
       box-shadow: 0px 0px 60px 40px green;
     }
